@import "sfchronicle";
@import "fonts";

@import "sfchronicle";
@import "fonts";
@import "flexbox";

@other: #9F9FBF;
@red: #A10D2D;
@orange: #FF9933;
@yellow: #DED337;

@cellWidth: calc(100% / @columns ~" + .5px");
@cellHeight: calc(100% / @rows ~" + .5px");
@rows: (15 - 1.5) * 2;
@columns: 30;

@block: "AntennaMedium";
@bold: "AntennaBold";

// slider styling changes
rzslider .rz-pointer {
  background-color: @other !important;
  &:after {
    background-color: darken(@other,30%) !important;
  }
  //border-radius: 2px !important;
}
rzslider {
  margin-bottom:0 !important;
  z-index:0 !important;
  .rz-bar {
    background: darken(@other,12%) !important;
  }
}

.rz-limit {
  text-align: left !important;
  left: 0;
  //display: none !important;
}

//
.avg_rain, .avg_snow, .current_rain, .current_snow {
  width: 10px;
  height: 10px;
//  text-align: center;
  cursor: pointer;
  background: darken(@other,35%);
  border-radius: 50%;
  position: relative;
  bottom: 6px;
}
.avg_rain_label, .avg_snow_label, .current_rain_label, .current_snow_label {
  padding: 0px;
  padding-top:10px;
  text-align: left;
  font-size: 14px;
  color: darken(@other,35%);
  display: relative;
}
.current_rain, .current_snow {
  margin-top: -40px;
}
.current_rain_label, .current_snow_label {
  margin-top: 17px;
}

.drought-container {

  max-width: 620px;
  margin: auto;
  text-align: center;
  font-family: @block;
  font-size: 18px;

  .head {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    //font-style: oblique;
  }
  .spacing_hack {
    margin-top: 20px;
  }

  .title {
    font-size: 25px;
    font-weight: 600;
    margin-top: -40px;
    color: white;
  }
  .subtitle {
    font-style: italic;
  }
  .chatter {
    margin-top: 10px;
  }

}

.select-class {
  background-color: @other;
  width: 200px;
  height: 25px;
  font-size: 12px;
  margin: 2px auto;

  &:hover {
    cursor: pointer;
  }
}

.reset-button {
  background-color: @other;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  margin: 5px auto;
  &:hover {
    cursor: pointer;
  }
}
.rain-inches, .rain-percent, .snow-inches, .snow-percent {
  display: inline-block;
  background: @df-light-gray;
  font-weight: 600;
  width: 100px;
}

.rain-slider, .snow-slider {
  .display-flex;
  font-size: 12px;
  padding-top: 12px;
}

.rain-min, .rain-max, .snow-min, .snow-max {
  display: inline-block;
  font-size: 14px;
}
.rain-min, .snow-min {
  float: left;
}
.rain-max, .snow-max {
  float: right;
}
.rain-text, .snow-text {
  margin: auto;
  margin-top: 10px;
}
.fa {
  padding-left: 10px;
  padding-right: 10px;
}

.color-text {
  display: none;
  &.no {
    background-color: @red;
  }
  &.maybe {
    background-color: @orange;
  }
  &.yes {
    background-color: @yellow;
  }
  color: white;
  &.active {
    display: block;
  }

}

.credits, .sources {
  font-size: 0.8em;
  text-align: center;
  padding: 0 15px 8px 15px;
  max-width: 550px;
  margin: 20px auto 0px auto;

  @media @tablet {
    margin-bottom: 0;
  }
  .credit-name {
    font-weight: 700;
  }
}


footer {
  background: @df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  @media @tablet {
    margin-top: 0px;
  }

  .logo {
    float: left;
    margin-right: 10px;

    img {
      margin-top: 10px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}
