@import "sfchronicle";
@import "fonts";

@import "sfchronicle";
@import "fonts";
@import "flexbox";

@block: "AntennaExtraLight";
@bold: "AntennaMedium";
@block-graphics: "AntennaExtraLight";
@bold-graphics: "AntennaMedium";
@body: "FarnhamText";
@body-bold: "FarnhamTextBold";
@title: "FarnhamDisplayLight";
@banner: "DispatchLight";

@other: #9F9FBF;
@highlight: #6B6BC7;//#BF9FAF;
@red: #C47676;
@orange: #FF9933;
@yellow: #DED337;
@current: #D13D59;

@average: #FFCC32;
@gray: #6C85A5;
@gray-blue: #6C85A5;
@dark-gray: #696969;
@light-gray: #B2B2B2;
@share-gray: lighten(#4F5C70,10%);
@back-gray: lighten(#6C85A5,35%);

@cellWidth: calc(100% / @columns ~" + .5px");
@cellHeight: calc(100% / @rows ~" + .5px");
@rows: (15 - 1.5) * 2;
@columns: 30;

body {
  font-family: @body !important;
  max-width: 620px;
  margin: auto !important;
}

header {
  background: lighten(@gray,40%);
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  font-family: @bold-graphics;
  padding-bottom: 10px;

  .logo {
    float: left;
    margin-right: 10px;
    img {
      margin-top: 10px;
      height: 20px;
    }
    @media @mobile {
      display: none;
    }
  }
  .mobile-logo {
    display: none;
    @media @mobile {
      display: inline;
      float: left;
    }
    img {
      margin-top: 10px;
      height: 18px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.special-head {
  color: darken(@gray-blue,30%);
  text-align: right;
  font-family: @banner;
  text-transform: uppercase;
  width: 200px;
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.credits {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  font-style: italic;
  background: @back-gray;
  font-size: 16px;
  font-family: @body;
  @media @mobile {
    font-size: 12px;
  }
}

.update-date {
  text-align: center;
  font-size: 14px;
}

// slider styling changes
rzslider .rz-pointer {
  background-color: @other !important;
  &:after {
    background-color: darken(@other,30%) !important;
  }
  &.rz-active {
    background-color: @highlight !important;
  }
  //border-radius: 2px !important;
}
rzslider {
  margin-bottom:0 !important;
  z-index:0 !important;
  .rz-bar {
    background: darken(@other,12%) !important;
  }
  width: 95% !important;
}

.rz-limit {
  text-align: left !important;
  left: 0;
  //display: none !important;
}

//
.avg_rain, .avg_snow, .current_rain, .current_snow {
  width: 10px;
  height: 10px;
//  text-align: center;
  cursor: pointer;
  background: darken(@other,35%);
  border-radius: 50%;
  position: relative;
  bottom: 7px;
}
.avg_rain_label, .avg_snow_label, .current_rain_label, .current_snow_label, .avg_rain_label_mobile, .avg_snow_label_mobile, .current_rain_label_mobile, .current_snow_label_mobile {
  padding: 0px;
  padding-top:10px;
  text-align: left;
  font-size: 14px;
  //color: darken(@other,35%);
  display: relative;
}
.avg_rain_label, .avg_snow_label, .current_rain_label, .current_snow_label {
  @media @mobile {
    display: none;
  }
  @media @tablet {
    display: none;
  }
}
.avg_rain_label_mobile, .avg_snow_label_mobile, .current_rain_label_mobile, .current_snow_label_mobile {
  display: none;
  @media @mobile {
    display: block;
    position: relative;
  }
  @media @tablet  {
    display: block;
    position: relative;
  }
}
.avg_rain, .avg_snow {
  background: @average !important;
}
.current_rain, .current_snow {
  margin-top: -40px;
  background: @current !important;
}
.current_rain_label, .current_snow_label, .current_rain_label_mobile, .current_snow_label_mobile {
  margin-top: 17px;
}
.avg_rain_swatch, .avg_snow_swatch, .current_rain_swatch, .current_snow_swatch {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 2px;
  margin-right: 5px;
  @media @mobile {
    margin-right: 3px;
  }
}
.avg_rain_swatch, .avg_snow_swatch {
  background: @average;
}
.current_rain_swatch, .current_snow_swatch {
  background: @current;
}

.drought-container {

  max-width: 620px;
  margin: auto;
  text-align: center;
  font-family: @block;
  font-size: 18px;

  .head {
    //font-weight: 600;
    margin-top: 25px;
    //margin-bottom: 10px;
    background-color: lighten(@other,15%);
    @media @mobile {
      margin-top: 4px;
      font-size: 15px;
    }
    //font-style: oblique;
  }
  .spacing_hack {
    margin-top: 20px;
    @media @mobile {
      margin-top: 4px;
    }
  }

  .title {
    font-size: 32px;
    font-weight: 600;
    //margin-top: -45px;
    color: white;
    background: black;
    z-index: 10;
    @media @mobile {
      font-size: 20px;
      padding: 4px 0;
      //margin-top: -35px;
    }
  }
  .subtitle {
    font-style: italic;
  }
  .chatter {
    margin-top: 10px;
    @media @mobile {
      padding: 0 7px;
      margin-top: 10px;
    }
  }

}

.select-class {
  background-color: darken(@other,10%);
  width: 200px;
  height: 25px;
  font-size: 14px;
  margin: 2px auto;
  margin-top: 5px;
  @media @mobile {
    margin-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.reset-button {
  background-color: @other;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  margin: 5px auto;
  &:hover {
    cursor: pointer;
  }
}
.rain-inches, .rain-percent, .snow-inches, .snow-percent {
  display: inline-block;
  background: darken(@other,30%);
  font-weight: 600;
  width: 100px;
  color: white;
  @media @mobile {
    width: 50px;
  }
  @media @tablet {
    width: 50px;
  }
}

.rain-slider, .snow-slider {
  .display-flex;
  font-size: 12px;
  padding-top: 12px;
}

.rain-min, .rain-max, .snow-min, .snow-max {
  display: inline-block;
  font-size: 14px;
}
.rain-min, .snow-min {
  float: left;
}
.rain-max, .snow-max {
  float: right;
}
.rain-text, .snow-text {
  margin: auto;
  margin-top: 10px;
  @media @mobile {
    display: none;
  }
  @media @tablet {
    display: none;
  }
}

.rain-text2, .snow-text2, .snow-text2-mobile {
  padding-top: 7px;
  font-size: 15px;
}
.snow-text2-mobile {
  display: none;
  @media @mobile {
    display: block;
    font-size: 14px;
    padding: 0 4px;
  }
  @media @tablet {
    display: block;
    font-size: 14px;
    padding: 0 4px;
  }
}
.snow-text2 {
  display: block;
  @media @mobile {
    display: none;
  }
  @media @tablet {
    display: none;
  }
}

.rain-text-mobile, .snow-text-mobile {
  margin: auto;
  margin-top: 5px;
  display: none;
  @media @mobile {
    display: block;
    font-size: 14px;
  }
  @media @tablet {
    display: block;
    font-size: 14px;
  }
}
.fa {
  padding-left: 10px;
  padding-right: 10px;
}

.avg_rain_label, .current_rain_label, .avg_snow_label, .current_snow_label, .avg_rain_label_mobile, .current_rain_label_mobile, .avg_snow_label_mobile, .current_snow_label_mobile {
  position: relative;
  width: 220px;
  @media @tablet {
    width: 200px;
  }
  @media @mobile {
    width: 190px;
  }
}

.avg_rain_label_mobile {
  @media @mobile {
    width: 145px;
  }
}
.current_rain_label_mobile {
  @media @mobile {
    width: 135px;
  }
}

.color-text {
  display: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 17px;
  &.no {
    background-color: darken(@red, 5%);
  }
  &.maybe {
    background-color: lighten(@orange, 10%);
  }
  &.yes {
    background-color: lighten(@yellow, 10%);
  }
  //color: white;
  &.active {
    display: block;
  }
  @media @mobile {
    margin: 0px 7px;
    margin-bottom: 4px;
    font-size: 14px;
  }
  @media @tablet {
    margin: 0px 7px;
    margin-bottom: 4px;
  }

}

.methodology {
  display: inline-block;
  width: 100%;
  text-align: justify;
  @media @mobile {
    max-width: 95%;
  }
  @media @tablet {
    max-width: 95%;
  }
  font-size: 14.5px;

}
.methodology-title {
  font-weight:600;
  display: inline-block;
}

.disclaimer {
  font-size: 15px;
  margin: 10px 0;
  margin-top: 15px;
}


footer {
  background: @df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      margin-top: 10px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

#social {
  text-align: center;
  margin-bottom:10px;
  margin-top: 15px;

  a {
    font-size: 20px;
    padding: 0 5px;
    color: @share-gray;

    &:hover {
      color: @light-gray;
    }
  }
}
