@import "sfchronicle";
@import "fonts";

@import "sfchronicle";
@import "fonts";
@import "flexbox";

@other: #9F9FBF;
@highlight: #6B6BC7;//#BF9FAF;
@red: #C47676;
@orange: #FF9933;
@yellow: #DED337;

@cellWidth: calc(100% / @columns ~" + .5px");
@cellHeight: calc(100% / @rows ~" + .5px");
@rows: (15 - 1.5) * 2;
@columns: 30;

@block: "AntennaMedium";
@bold: "AntennaBold";

// slider styling changes
rzslider .rz-pointer {
  background-color: @other !important;
  &:after {
    background-color: darken(@other,30%) !important;
  }
  &.rz-active {
    background-color: @highlight !important;
  }
  //border-radius: 2px !important;
}
rzslider {
  margin-bottom:0 !important;
  z-index:0 !important;
  .rz-bar {
    background: darken(@other,12%) !important;
  }
  width: 95% !important;
}

.rz-limit {
  text-align: left !important;
  left: 0;
  //display: none !important;
}

//
.avg_rain, .avg_snow, .current_rain, .current_snow {
  width: 10px;
  height: 10px;
//  text-align: center;
  cursor: pointer;
  background: darken(@other,35%);
  border-radius: 50%;
  position: relative;
  bottom: 7px;
}
.avg_rain_label, .avg_snow_label, .current_rain_label, .current_snow_label {
  padding: 0px;
  padding-top:10px;
  text-align: left;
  font-size: 14px;
  color: darken(@other,35%);
  display: relative;
}
.current_rain, .current_snow {
  margin-top: -40px;
}
.current_rain_label, .current_snow_label {
  margin-top: 17px;
}

.drought-container {

  max-width: 620px;
  margin: auto;
  text-align: center;
  font-family: @block;
  font-size: 18px;

  .head {
    //font-weight: 600;
    margin-top: 25px;
    //margin-bottom: 10px;
    background-color: lighten(@other,15%);
    @media @mobile {
      margin-top: 2px;
      font-size: 15px;
    }
    //font-style: oblique;
  }
  .spacing_hack {
    margin-top: 20px;
    @media @mobile {
      margin-top: 2px;
    }
  }

  .title {
    font-size: 32px;
    font-weight: 600;
    margin-top: -45px;
    color: white;
    @media @mobile {
      font-size: 18px;
      margin-top: -35px;
    }
  }
  .subtitle {
    font-style: italic;
  }
  .chatter {
    margin-top: 10px;
    @media @mobile {
      padding: 0 7px;
      margin-top: 10px;
    }
  }

}

.select-class {
  background-color: darken(@other,10%);
  width: 200px;
  height: 25px;
  font-size: 14px;
  margin: 2px auto;

  &:hover {
    cursor: pointer;
  }
}

.reset-button {
  background-color: @other;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  margin: 5px auto;
  &:hover {
    cursor: pointer;
  }
}
.rain-inches, .rain-percent, .snow-inches, .snow-percent {
  display: inline-block;
  background: darken(@other,30%);
  font-weight: 600;
  width: 100px;
  color: white;
  @media @mobile {
    width: 50px;
  }
}

.rain-slider, .snow-slider {
  .display-flex;
  font-size: 12px;
  padding-top: 12px;
}

.rain-min, .rain-max, .snow-min, .snow-max {
  display: inline-block;
  font-size: 14px;
}
.rain-min, .snow-min {
  float: left;
}
.rain-max, .snow-max {
  float: right;
}
.rain-text, .snow-text {
  margin: auto;
  margin-top: 10px;
  @media @mobile {
    display: none;
  }
}

.rain-text2, .snow-text2, .snow-text2-mobile {
  padding-top: 7px;
  font-size: 15px;
}
.snow-text2-mobile {
  display: none;
  @media @mobile {
    display: block;
    font-size: 14px;
  }
}
.snow-text2 {
  display: block;
  @media @mobile {
    display: none;
  }
}

.rain-text-mobile, .snow-text-mobile {
  margin: auto;
  margin-top: 5px;
  display: none;
  @media @mobile {
    display: block;
    font-size: 14px;
  }
}
.fa {
  padding-left: 10px;
  padding-right: 10px;
}

.avg_rain_label, .current_rain_label, .avg_snow_label, .current_snow_label {
  position: relative;
  width: 200px;
  @media @mobile {
    width: 180px;
  }
}

.color-text {
  display: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 17px;
  &.no {
    background-color: darken(@red, 5%);
  }
  &.maybe {
    background-color: lighten(@orange, 10%);
  }
  &.yes {
    background-color: lighten(@yellow, 10%);
  }
  //color: white;
  &.active {
    display: block;
  }
  @media @mobile {
    margin: 0px 7px;
  }

}

.methodology {
  display: inline-block;
  width: 100%;
  text-align: justify;
  @media @mobile {
    max-width: 95%;
  }
  font-size: 14.5px;

}
.methodology-title {
  font-weight:600;
  display: inline-block;
}

.disclaimer {
  font-size: 15px;
  margin: 10px 0;
  margin-top: 15px;
}

.credits, .sources {
  font-size: 0.8em;
  text-align: center;
  padding: 0 15px 8px 15px;
  max-width: 550px;
  margin: 20px auto 0px auto;

  @media @tablet {
    margin-bottom: 0;
  }
  .credit-name {
    font-weight: 700;
  }
}


footer {
  background: @df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  @media @tablet {
    margin-top: 0px;
  }

  .logo {
    float: left;
    margin-right: 10px;

    img {
      margin-top: 10px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.share-button {
  display: inline-block !important;
  margin-top: 10px;
  @media @mobile {
    margin-top: 20px;
  }

  &.sharer-0 label {
    color: @df-dark-gray !important;
    background: @df-light-gray !important;
    padding: 6px 10px !important;
    border-radius: 0 !important;
    margin-left: 2px;

    &:hover {
      background: @df-border-gray !important;
      color: @df-charcoal !important;
    }
  }
}
