<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css"/>
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="drought">

    <responsive-child>
      <div ng-controller="DroughtController">
        <div class="drought-container">

        <img src="./assets/drought_img.JPG"></img>
        <div class="title" id="title">When will the drought be over?</div>
        <div class="chatter">We've had a lot of rain recently and everyone is ready to go back to watering their lawns. When can we safely revert to wasting water? Choose a city and move the sliders to see just how much more rain and snow we need. </div>

        <div class="head" id="drought">Choose a city:</div>
        <select class="select-class"
                ng-model="selectedCity"
                ng-change=reset()
                ng-options="row.id as row.city for row in rainData">
        </select>
        <div class="head">How much rainfall will there be in that city through the end of 2016?</div>
        <rzslider rz-slider-model="rain_slider.value"
                  rz-slider-options="rain_slider.options"
                  style="position:relative"
                  ng-click="round_rain_numbers(rain_slider.value); set_page()"></rzslider>
        <div class="avg_rain" style="position: relative; left: {{(rainRow.normal_rainfall+1)*win_width/63}}px"></div>
        <div class="avg_rain_label" style="position: relative; left: {{(rainRow.normal_rainfall+1)*win_width/63-38}}px">Normal rainfall: {{rainRow.normal_rainfall}} in</div>
        <div class="current_rain" style="position: relative; left: {{(rainRow.current_rainfall+1)*win_width/63}}px"></div>
        <div class="current_rain_label" style="position: relative; left: {{(rainRow.current_rainfall+1)*620/63-38}}px">Current rainfall: {{rainRow.current_rainfall}} in</div>

        <div class="rain-text">
          <div class="rain-inches">{{rain_slider.value}}</div>
           inches of rain is
          <div class="rain-percent">{{rain_percent}}</div>
           % of normal.
         </div>

        <div class="head">How much snow will there be statewide by the end of 2016?</div>
        <rzslider rz-slider-model="snow_slider.value"
                  rz-slider-options="snow_slider.options"
                  ng-click="set_page()"></rzslider>
        <div class="avg_snow" style="position: relative; left: {{(snowData[0].normal_inches+1)*win_width/63}}px"></div>
        <div class="avg_snow_label" style="position: relative; left: {{(snowData[0].normal_inches+1)*win_width/63-38}}px">Normal snowfall: {{snowData[0].normal_inches}} in</div>
        <div class="current_snow" style="position: relative; left: {{(snowData[0].current_inches+1)*620/63}}px"></div>
        <div class="current_snow_label" style="position: relative; left: {{(snowData[0].current_inches+1)*win_width/63-38}}px">Current snowfall: {{snowData[0].normal_inches}} in</div>

        <div class="snow-text">
          <div class="snow-inches">{{snow_slider.value}}</div>
           inches of snow is
          <div class="snow-percent">{{snow_percent}}</div>
           % of normal.
         </div>

        <div class="answer">
          <div class="thin-div">
            <div class="center long">SO... Are we out of the drought?</div>
          </div>
          <div class="spacing_hack"></div>
          <div class="color-text no"
            ng-class="{active: rain_slider.value/rainRow.normal_rainfall < (rainRow.percent_req/100) && snow_slider.value/snowData[0].normal_inches < 1.5}">No!</div>
          <div class="color-text maybe"
            ng-class="{active: (rain_slider.value/rainRow.normal_rainfall >= (rainRow.percent_req/100) || snow_slider.value/snowData[0].normal_inches >= 1.5) && !(rain_slider.value/rainRow.normal_rainfall >= (rainRow.percent_req/100) && snow_slider.value/snowData[0].normal_inches >= 1.5)}">Maybe!</div>
          <div class="color-text yes"
            ng-class="{active: rain_slider.value/rainRow.normal_rainfall >= (rainRow.percent_req/100) && snow_slider.value/snowData[0].normal_inches >= 1.5}">Yes!</div>
          <div class="answer-text">This is some text where we explain about how we have done the computations and how weather people decided about certain percentiles determining that these percentiles mean this or that.</div>
        </div>

      </div>
    </div>

    <div class="credits">
      Reporting by <span class="credit-name">Kurtis Alexander</span> &bull; Web development by <span class="credit-name">Emma O'Neill</span>
    </div>


    <footer>
      <a class="logo" href="http://www.sfchronicle.com">
        <img src="./assets/sf_logo_white.png">
      </a>
    </footer>

    </responsive-child>

    <script>
      var rainData = <%= JSON.stringify(json.Drought_rainfall) %>
      var snowData = <%= JSON.stringify(json.Drought_snow) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
